<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Region Map - <%= regionName %></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">

    <!-- Fullscreen Container -->
    <div class="h-screen w-full bg-black">
        <div class="relative ">
            <!-- Main Map with Multiple Overlays -->
            <img class="gray h-[60vh] ml-[40vw] absolute top-[-3vw]" src="/images/map 1.png" alt="Region 1">
            <img class="pink h-[60vh] ml-[40vw] absolute top-[4vw] left-[6.5vw]" src="/images/map 7.png" alt="Region 7">
            <img class="skyblue h-[60vh] ml-[50vw] absolute top-[7.5vw] right-[40vw]" src="/images/map 6.png" alt="Region 6">
            <img class="darkyellow h-[60vh] ml-[50vw] absolute top-[8.2vw] right-[49.6vw]" src="/images/map 5.png" alt="Region 5">
            <img class="green h-[60vh] ml-[50vw] absolute top-[15.5vw] right-[48.7vw]" src="/images/map 4.png" alt="Region 4">
            <img class="mehroom h-[60vh] ml-[50vw] absolute top-[12.3vw] right-[32vw]" src="/images/map 3.png" alt="Region 3">
            <img class="yellow h-[60vh] ml-[50vw] absolute top-[3.7vw] right-[25vw]" src="/images/map 2.png" alt="Region 2">

           
        </div>
    </div>
    
</body>
</html>
